<template>
  <v-container fluid class="fill-height">
    <public-article-card
      v-for="(value, idx) in articles"
      :key="idx"
      :articles="value"
    />
  </v-container>
</template>

<script>
import PublicArticleCard from '../components/molecules/PublicArticleCard.vue'
export default {
  components: { PublicArticleCard },
  layout: 'public',
  data() {
    return {
      public: {},
      articles: [],
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    async getData() {
      try {
        const {
          data: { results },
        } = await this.$axios.get(`/api/public`)
        this.public = results
        this.articles = results.articles
      } catch (err) {
        this.$toastResp.error(err.response)
      }
    },
  },
}
</script>
