<template>
  <v-container fluid class="fill-height justify-center" :style="backImage">
    <registration-form @registration="handleRegistration" />
  </v-container>
</template>

<script>
import RegistrationForm from '../components/molecules/RegistrationForm.vue'
import bg from '../assets/bg.png'
export default {
  components: { RegistrationForm },

  layout: 'plain',
  auth: false,
  data() {
    return {
      backImage: {
        backgroundImage: `url(${bg})`,
        backgroundSize: 'cover',
        backgroundPosition: 'center',
        backgroundColor: 'rgba(0, 0, 0, 0.8 )',
      },
    }
  },
  mounted() {},
  methods: {
    async handleRegistration(data) {
      try {
        const form = new FormData()
        Object.keys(data).forEach((key) => {
          form.append(key, data[key])
        })
        await this.$axios
          .post(`/api/register`, form, {
            headers: {
              'content-type': 'multipart/form-data',
            },
          })
          .then((res) => {
            const results = res.data.results
            this.$toast.success(Object.keys(results))
            this.$router.push('/')
          })
      } catch (err) {
        const attribute = Object.keys(err.response.data.errors)
        attribute.forEach((element) => {
          this.$toast.error(err.response.data.errors[element])
        })
      }
    },
  },
}
</script>
