<template>
  <v-flex>
    <v-app-bar
      app
      clipped-left
      color="white"
      class="white--text"
      elevation="-1"
    >
      <v-img max-width="130" contain position="left" @click="$router.go(0)" />
      <v-tabs v-model="tab" right color="accent">
        <v-tab v-for="(res, idx) in menu" :key="idx" :to="res.to">
          <!-- <v-icon left>{{ res.icon }}</v-icon> -->
          <span class="text-none black--text">{{ res.title }}</span>
        </v-tab>
      </v-tabs>
      <v-spacer />
      <account />
    </v-app-bar>
  </v-flex>
</template>

<script>
import Account from '../Account.vue'
export default {
  name: 'AppNavigation',
  components: { Account },
  props: {
    menu: {
      type: Array,
      default() {
        return [
          {
            title: 'Home',
            icon: 'mdi-home',
            to: `/`,
          },
          {
            title: 'Our Ok',
            icon: 'mdi-script',
            to: `/story`,
          },
        ]
      },
    },
    personal: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      tab: 0,
    }
  },
}
</script>
