<template>
  <v-flex>
    <v-app-bar
      app
      clipped-left
      color="white"
      class="white--text"
      elevation="-1"
    >
      <v-img max-width="130" contain position="left" @click="$router.go(0)" />
      <v-tabs v-model="tab" right color="accent">
        <v-tab v-for="(res, idx) in menu" :key="idx" :to="res.to">
          <!-- <v-icon left>{{ res.icon }}</v-icon> -->
          <span class="text-none black--text">{{ res.title }}</span>
        </v-tab>
      </v-tabs>
      <v-spacer />
      <login-dialog @login="handleLogin" />
    </v-app-bar>
  </v-flex>
</template>

<script>
import LoginDialog from '../LoginDialog.vue'
export default {
  name: 'PublicNavigation',
  components: { LoginDialog },
  props: {
    menu: {
      type: Array,
      default() {
        return [
          {
            title: 'Home',
            icon: 'mdi-home',
            to: `/`,
          },
          {
            title: 'Our Story',
            icon: 'mdi-script',
            to: `/story`,
          },
          {
            title: 'Membership',
            icon: 'mdi-filter-variant',
            to: `/membership`,
          },
          {
            title: 'Write',
            icon: 'mdi-book-open',
            to: `/write`,
          },
        ]
      },
    },
    personal: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      tab: 0,
    }
  },
  methods: {
    async handleLogin(form) {
      try {
        await this.$auth.loginWith('local', { data: form })
        if (this.$auth.user) {
          this.$toast.info('Welcome, ' + this.$auth.user.name)
          this.$router.push('/app/home')
        } else {
          this.$toast.info('Please, Login First')
        }
      } catch (err) {
        const attribute = Object.keys(err.response.data.errors)
        attribute.forEach((element) => {
          this.$toast.error(err.response.data.errors[element])
        })
      }
    },
  },
}
</script>
