<template>
  <v-menu offset-y nudge-right auto max-width="200">
    <template #activator="{ on, attrs }">
      <v-list-item-avatar
        size="40"
        color="primary"
        class="mr-0"
        v-bind="attrs"
        v-on="on"
      >
        <v-icon dark>mdi-account</v-icon>
      </v-list-item-avatar>
    </template>
    <v-list dense outlined class="pa-0">
      <v-list-item
        v-for="(value, idx) of nav"
        :key="idx"
        :to="value.to"
        active-class="primary white--text"
      >
        <v-list-item-icon>
          <v-icon>{{ value.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{ value.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item @click="logout">
        <v-list-item-icon>
          <v-icon>mdi-logout</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Logout</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  props: {
    small: {
      type: Boolean,
      default: false,
    },
    info: {
      type: Object,
      default() {
        return {}
      },
    },
    nav: {
      type: Array,
      default() {
        return [
          {
            title: 'Home',
            to: '/app/home',
            icon: 'mdi-home',
          },
          {
            title: 'Profile',
            to: '/app/personal/profile',
            icon: 'mdi-account',
          },
        ]
      },
    },
  },
  data() {
    return {}
  },
  methods: {
    async logout() {
      try {
        const name = this.$auth
        await this.$auth.logout()
        this.$toast.success('Goodbye, ' + name)
        this.$router.push('/')
      } catch (err) {
        this.$toast.error(err)
      }
    },
  },
}
</script>
