<template>
  <v-app>
    <v-main>
      <app-navigation />
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script>
import AppNavigation from '../components/molecules/organism/AppNavigation.vue'

export default {
  components: { AppNavigation },
}
</script>

AppNavigation
