<template>
  <v-container fluid class="fill-height">
    <v-row class="text-center" no-gutters>
      <v-col cols="12" class="display-1 font-weight-bold my-0 primary--text">
        Something Wrong
      </v-col>
      <v-col cols="12" class="subtitle-1 font-weight-bold mt-2">
        Click to {{ error.statusCode !== 404 ? 'Refresh' : 'Back' }}
      </v-col>
      <v-col cols="12" class="display-2 font-weight-bold mt-6 primary--text">
        <v-btn
          color="success"
          class="mb-4 white--text"
          large
          fab
          @click="refreshHandler(error.statusCode)"
        >
          <v-icon v-if="error.statusCode !== 404">mdi-refresh</v-icon>
          <v-icon v-else>mdi-keyboard-backspace</v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  auth: false,
  layout: 'plain',
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      notFound: 'Not found',
      otherError: 'Warning',
    }
  },
  head() {
    return {
      title: this.error.statusCode === 404 ? this.notFound : this.otherError,
    }
  },
  computed: {
    message() {
      return this.error.statusCode === 404 ? this.notFound : this.otherError
    },
  },
  methods: {
    refreshHandler(code) {
      if (code === 404) {
        this.$router.push('/')
      } else {
        this.$router.go(0)
      }
    },
  },
}
</script>

<style lang="scss" scoped></style>
