<template>
  <v-app>
    <v-main>
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script>
export default {
  head() {
    return {
      title: this.$route.path
        .replace('/', '')
        .replace(/\b(\w)/g, (s) => s.toUpperCase()),
    }
  },
}
</script>
