<template>
  <v-app>
    <v-main>
      <public-navigation />
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script>
import PublicNavigation from '../components/molecules/organism/PublicNavigation.vue'
export default {
  components: { PublicNavigation },
  head() {
    return {
      title: this.$route.path
        .replace('/', '')
        .replace(/\b(\w)/g, (s) => s.toUpperCase()),
    }
  },
}
</script>
