<template>
  <v-container fluid class="fill-height">
    <v-card> {{ articles }}</v-card>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      articles: [],
    }
  },
  mounted() {
    this.getArticles()
  },
  methods: {
    async getArticles() {
      try {
        await this.$axios.get(`/api/articles`).then((res) => {
          const results = res.data.results
          this.articles = results
        })
      } catch (err) {
        const attribute = Object.keys(err.response.data.errors)
        attribute.forEach((element) => {
          this.$toast.error(err.response.data.errors[element])
        })
      }
    },
    // Create
    async createArticles(data) {
      try {
        const form = new FormData()
        Object.keys(data).forEach((key) => {
          form.append(key, data[key])
        })
        await this.$axios
          .post(`/api/articles`, form, {
            headers: {
              'content-type': 'multipart/form-data',
            },
          })
          .then((res) => {
            const results = res.data.results
            this.$toast.success(Object.keys(results))
            this.$router.push('/')
          })
      } catch (err) {
        const attribute = Object.keys(err.response.data.errors)
        attribute.forEach((element) => {
          this.$toast.error(err.response.data.errors[element])
        })
      }
    },
    // Update
    async updateEducations(id, data) {
      try {
        const form = new FormData()
        Object.keys(data).forEach((key) => {
          form.append(key, data[key])
        })
        await this.$axios
          .patch(`/api/articles/${id}`, form, {
            headers: {
              'content-type': 'multipart/form-data',
            },
          })
          .then((res) => {
            const results = res.data.message
            this.$toast.success(results)
            this.refreshData()
          })
      } catch (err) {
        const attribute = Object.keys(err.response.data.errors)
        attribute.forEach((element) => {
          this.$toast.error(err.response.data.errors[element])
        })
      }
    },
    // Delete
    async deleteEducations(id) {
      try {
        await this.$axios.delete(`/api/articles/${id}`).then((res) => {
          this.refreshData()
        })
      } catch (err) {
        const attribute = Object.keys(err.response.data.errors)
        attribute.forEach((element) => {
          this.$toast.error(err.response.data.errors[element])
        })
      }
    },
  },
}
</script>
